@use "nord" as *;

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: $nord0;
  color: $nord4;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16 32px;
}

.nav-right {
  display: flex;
  gap: 16px;
}

a {
  color: $nord8;
  text-decoration: none;
  transition:
    color 0.2s ease,
    text-shadow 0.2s ease;

  &:hover {
    color: $nord9;
    text-shadow: 0 0 4px $nord10;
  }

  &:active {
    color: $nord10;
  }

  &:visited {
    color: $nord7;
  }
}

a:focus {
  outline: none;
  background-color: rgba($nord8, 0.15);
  border-radius: 4px;
  padding: 0 2px;
}

.container {
  width: 80%;

  padding: 1rem;
  background-color: $nord1;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}

/* Mobile layout */
@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}

.left {
  height: 100%;
  flex: 1;
}

.left img {
  max-width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.right {
  flex: 2; // larger portion

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // padding: 2rem 2rem;

  text-align: left;
}

.header-block {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentation {
  flex: 2;
  font-size: clamp(1rem, 1.5vw, 1.7rem);
}

.presentation br {
  display: block;
  margin-bottom: 20px;
}

.links-container {
  flex: 1;
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  justify-content: space-evenly;

  padding-top: 2rem;
}

.links-container a img {
  height: 32px;
  widht: auto;

  object-fit: contain;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}
