@use "nord" as *;

body {
  font-family: sans-serif;
  text-align: center;
  background-color: $nord0;
  color: $nord4;
  height: 100%
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16 32px;
}

.nav-right {
  display: flex;
  gap: 16px;
}

// * {
//   border: 2px solid red;
// }

a {
  color: $nord8;
  text-decoration: none;
  transition:
    color 0.2s ease,
    text-shadow 0.2s ease;

  &:hover {
    color: $nord9;
    text-shadow: 0 0 4px $nord10;
  }

  &:active {
    color: $nord10;
  }

  &:visited {
    color: $nord7;
  }
}

a:focus {
  outline: none;
  background-color: rgba($nord8, 0.15);
  border-radius: 4px;
  padding: 0 2px;
}

.container {
  width: 70%;
  height: 90%;

  margin: 0 auto;
  padding: 1rem;
  background-color: $nord1;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  gap: 1rem;
}

.left {
  height: 100%;
  flex: 1;
}

.left img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.right {
  flex: 2; // larger portion

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  gap: 1rem;
}

.presentation {
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.links-container a img {
  height: 32px;
  widht: auto;

  object-fit: contain;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}
